---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* Bootstrap */

// path to glyphicons @TODO not sure if this is used
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/"; 

// import bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


/* Our variables */

$base-font-family: "Lato", "Helvetica", Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$font-weight-bold: 900;
$font-weight-normal: 400;
$font-weight-light: 300;

$spacing-unit:     24px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #CC0000;
$accent-color:     #F8E720;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;


/* Becky styles @TODO review */

.btn-btn-aemp {
  background-color: #cc0000; 
  color: #ffffff; 
  margin-bottom: 30px;
}

.img-aemp {
  border: 8px solid #ffffff;
  margin-bottom: 20px;
}

.btn:focus,
.btn:active,
.btn.active {
  background-color: #cc0000;
  color: #ffffff;
}

.btn:hover {
  background-color: #db4c4c;
  color: #ffffff;
}

.aemp-actions {
  padding-top: 30px;
  padding-bottom: 30px;
}


/* Basic styles */

body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-weight: $font-weight-normal;
  line-height: $base-line-height;
}

h1,
h2 {
  font-weight: $font-weight-bold;
}


/* Jumbotron */

.home-jumbotron {
  color: #fff;
  h1 {
    margin-top: $spacing-unit*4;
    color: $accent-color;
  }
  
}

/* Navigation */

.navbar {
  background-color: #000000; 
  border: 0;
  -webkit-border-radius: 0; // reset bootstrap
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-text {
  color: #ffffff;
  a {
    color: #ffffff;
  }
}


/* Page */

.page {
  padding-top: $spacing-unit*3;
  padding-bottom: $spacing-unit*2;
}

@media screen and (min-width: $screen-xs) {
  .home-jumbotron { 
    height: 550px; // for browsers that don't understand vh
    min-height: 60vh;
  } 
}

/* Map */

.layout-map {
  padding-top: 50px;
}