---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/"; 

/* custom variable */

// Our variables
$base-font-family: "Lato", "Helvetica", Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;


@media screen and (min-width: 600px) {
  .jumbotron-hero-height { height: 550px;
  } 
}

.btn-btn-aemp {
  background-color: #cc0000; 
  color: #ffffff; 
  margin-bottom: 30px;
}

.img-aemp {
  border: 8px solid #ffffff;
  margin-bottom: 20px;
}

.btn:focus,
.btn:active,
.btn.active {
  background-color: #cc0000;
  color: #ffffff;
}

.btn:hover {
  background-color: #db4c4c;
  color: #ffffff;
}

.aemp-actions {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Page */
 .page {
    padding-top: $spacing-unit*3;
    padding-bottom: $spacing-unit*2;
 }


/* any style customization must be before the bootstrap import */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


