<h3>Advocate for Just Cause</h3>
<p><a class="btn btn-btn-aemp" href="{{ '/take-action/' | prepend: site.baseurl }}">Take Action</a>
<p><a href="http://www.justcauseboston.org/sign_the_petition" target="_blank" title="Sign the petition on the Just Cause Boston website">Sign a petition</a>, <a href="{{ '/take-action/' | prepend: site.baseurl }}">call</a> or <a href="{{ '/take-action/' | prepend: site.baseurl }}">write</a> your City Councillor and advocate for a Just Cause Eviction Ordinance.</p>
<p><a href="http://www.justcauseboston.org">What's Just Cause?</a></p>
