
    <div class="row text-center" style="background-color:#f8e71c;">
      <div class="col-lg-12">
        <h2 class="text-center" style="color:#cc0000;">Facing eviction or unfair rent increases?</h2>
        <h4 class="text-center" style="margin-bottom: 30px; color: #726a0d;">There is free legal help and other support&#160;available.</h4>
        <a class="btn btn-lg pagination-centered btn-btn-aemp" href="http://antievictionboston.github.io/resources/" target="_blank" style="margin-bottom: 30px;">Get Resources</a>
      </div>
    </div>
