---
layout: default
---

<!--start hero/banner/jumbotron-->
  <div class="home-jumbotron jumbotron" style="background-image: url(images/Maverick060.jpg); background-size: cover; background-repeat: no-repeat; margin-bottom:0;">
    <div class="container">
      <div class="row col-md-6">
        <h1>Our neighbors are being displaced.</h1>
        <h2>And we need better tools for understanding why and how.</h2>
      </div>
    </div>
  </div>
<!--start page description and gray container (container-fluid) for the rest of the site-->
  <div class="container-fluid" style="background-color: #f6f5f5;">
      <div class="container">
        <p class="lead" style="padding-top: 20px;">That's why we've started a volunteer effort to stop evictions for profit and pass a <a href="http://www.justcauseboston.org">Just Cause Eviction Ordinance</a> in Boston using interactive maps and personal narratives. This site will continue to grow and become home to stories and data about displacement in our city.</p>
      </div>
  </div>
<!--end page description-->

  <div class="container-fluid">
    <ul class="map-list container">
      {% assign sorted_maps = site.maps | sort: "order" %}
      {% for map in sorted_maps %}
        <li class="map-list-item panel">
        <div class="panel-body">
          <div class="map-thumbnail">
            <a href="{{ map.url | prepend: site.baseurl }}" title="View map" style="background-image: url({{ map.thumbnail | prepend: site.baseurl }});"></a>
          </div>
          <h2 class="map-title">
            <a class="map-link" href="{{ map.url | prepend: site.baseurl }}" title="View map">{{ map.title }}</a>
          </h2>
          <p class="map-description">
            {{ map.description }}
          </p>
        </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% comment %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endcomment %}
  
  <div class="action featured">
    {% include actions/resources.html %}
  </div>
  
  <div class="container aemp-actions">
    <div class="row-fluid" style="margin-bottom:30px;">
      <div class="action col-md-4">
        {% include actions/advocate.html %}
      </div>
      <div class="action col-md-4">
        {% include actions/join.html %}
      </div>
      <div class="action col-md-4">
        {% include actions/signup.html %}
      </div>
    </div>
  </div>
</div>
