---
layout: default
---

<div class="home">

  <h1 class="page-heading">Maps</h1>

  <ul class="post-list">
    {% for map in site.maps %}
      <li>
        <h2>
          <a class="map-link" href="{{ map.url | prepend: site.baseurl }}">{{ map.title }}</a>
        </h2>
        <p class="map-description">
          {{ map.description }}
        </p>
      </li>
    {% endfor %}
  </ul>

  {% comment %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endcomment %}
  
  <div class="action featured">
    {% include actions/resources.html %}
  </div>
  
  <div class="action">
    {% include actions/advocate.html %}
  </div>
  
  <div class="action">
    {% include actions/join.html %}
  </div>

  <div class="action">
    {% include actions/signup.html %}
  </div>

</div>
