---
layout: default
---

<!--start hero/banner/jumbotron-->
  <div class="jumbotron jumbotron-fluid jumbotron-hero-height" style="background-image: url(images/julio.png); display: block; margin-left: auto; margin-right: auto; background-size: cover; background-repeat: no-repeat; margin-bottom:0;">
    <div class="container">
      <h1 style="color: #f8e71c; margin-top: 100px;">Our neighbors are<br> being displaced.</h1>
      <h2 style="color: #ffffff;">And we need better tools<br> for understanding why and how.</h2>
    </div>
  </div>
<!--start page description and gray container (container-fluid) for the rest of the site-->
  <div class="container-fluid" style="background-color: #f6f5f5;">
    <div>
      <div class="container">
        <p class="lead" style="padding-top: 20px;">That's why we've started a volunteer effort to stop evictions and pass a <a href="">Just Cause Eviction Ordinance</a> in the Boston Area using interactive maps and powerful stories.</p>
      </div>
    </div>
<!--end page description-->

  <h1 class="page-heading">Maps</h1>

  <ul class="post-list">
    {% for map in site.maps %}
      <li>
        <h2>
          <a class="map-link" href="{{ map.url | prepend: site.baseurl }}">{{ map.title }}</a>
        </h2>
        <p class="map-description">
          {{ map.description }}
        </p>
      </li>
    {% endfor %}
  </ul>

  {% comment %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endcomment %}
  
  <div class="action featured">
    {% include actions/resources.html %}
  </div>
  
  <div class="action">
    {% include actions/advocate.html %}
  </div>
  
  <div class="action">
    {% include actions/join.html %}
  </div>

  <div class="action">
    {% include actions/signup.html %}
  </div>

</div>
