<header class="site-header">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% assign sorted_maps = site.maps | sort: "order" %}
            {% for map in sorted_maps %}
            <li><a href="{{ map.url | prepend: site.baseurl }}" title="View map">{{ map.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{ '/resources/' | prepend: site.baseurl }}">Resources</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>
