<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body class="layout-map">

    {% include header.html %}

    <div class="page-content">
      <div id="{{ page.map_id }}"></div>

      <!-- for production -->
      <!-- <script src="https://cdn.rawgit.com/AntiEvictionBoston/utility/ee9f2e2bed3956face2462bbeb86bb1b419e97b0/east_boston.js"></script> -->
      <!-- for testing (updates more quickly, but will be throttled on the real site) -->
      <script src="https://rawgit.com/AntiEvictionBoston/utility/master/maps.js"></script>
            
    </div>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-75067142-1', 'auto');
      ga('send', 'pageview');
    
    </script>
  </body>

</html>